/* Main colo palette */

$color1: #4056a1;
$color2: #c5cbe3;

$color3: #f13c20;
$color4: #a92816;

// $color4: #d79922;
// $color5: #efe2ba;

$myMessageColor: #eeeeee;
$othersMessageColor: #c5cbe3;

// #d79922
// #efe2ba
// #f13c20 
// #4056a1
// #c5cbe3

// #8d8741
// #659dbd
// #daad86
// #bc986a
// #fbeec1

/* Grayscale constants */

$greyscale0: #000;
$greyscale1: #111;
$greyscale2: #222;
$greyscale3: #333;
$greyscale4: #444;
$greyscale5: #555;
$greyscale6: #666;
$greyscale7: #777;
$greyscale8: #888;
$greyscale9: #999;
$greyscaleA: #aaa;
$greyscaleB: #bbb;
$greyscaleC: #ccc;
$greyscaleD: #ddd;
$greyscaleE: #eee;
$greyscaleF: #fff;

/* Breackpoints */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

html, body {
  height: 100%;
}

hr.shaded {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Google maps navigator */
.mapContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: $greyscaleD;
}


.filters-button {
  z-index: 1;
  position:absolute;

  top: 1em;
  left: 1em;

  @include lg {
    top: 2em;
    left: 2em;
  }
}

.submit-button {
  z-index: 1;
  bottom: 1em;
  left: 1em;
  position:absolute;

  
  @include lg {
    bottom: 2em;
    left: 2em;
  }
}

#map-sidebar {
  padding: 1em;
  position:absolute;
  overflow-y: scroll;
  z-index: 2;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: #fefefe;

  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.7); 
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.7);   

  @include lg {
    width: 20em;
    left: 0;
  }
}

/* mobile utilities */


.fullheight {
  height: 100%;
}

.fullheight-lg {
  @include md {
    height: auto;
  }

  @include lg {
    height: 100%;
  }
}

.scrollable-lg {
  @include md {
    width: auto;
    overflow-y: auto;
  }

  @include lg {
    width: 100%;
    overflow-y: scroll;
  }
}

/* */

.color1 {
  background-color: $color1;
  border: 1px solid $color1;
}

.color2 {
  background-color: $color2;
}

.color3 {
  background-color: $color3;
  border: 1px solid $color3;
}

.color3:hover {
  background-color: #a92816;
  border: 1px solid #a92816;
}

.footerCardButton {
  border-width: 1px;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* bootstrap changes */
.pagination > li > button
{
  background-color: $color1 !Important;
}

/* vue transitions animations */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}